@model CarServiceManager.Web.ViewModels.Orders.EditOrderInputModel

@{
    ViewData["Title"] = $"Редактиране на заявка {@Model.Id.ToString("0000000000")}";    
}

<h4>@this.ViewData["Title"]</h4>
<hr />
<div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">@Model.Car.RegistrationNumber</div>
    <div class="card-body">
        <h5 class="card-title">@Model.Car.CarBrandName</h5>
        <p class="card-text">@Model.Car.CarColorName</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="4" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" hidden id="id" name="carId" value="@Model.CarId" />
                <input type="submit" value="Редактирай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад към всички заявки</a>
</div>