@model CarServiceManager.Web.ViewModels.Cars.CarListViewModel

@{
    this.ViewData["Title"] = "Автомобили";
}

<h1>@this.ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Добави нов</a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Cars.First().CarBrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars.First().CarColorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars.First().RegistrationNumber)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cars)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarBrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarColorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    <input type="text" hidden id="id" name="carId" value="@item.CarId" />
                    <a asp-controller="Orders" asp-action="Create" asp-route-id="@item.CarId" class="btn btn-danger">Добави към заявката</a>
                </td>
            </tr>
        }
    </tbody>
</table>